@import "bootstrap/dist/css/bootstrap";

@import "custom";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: url("jumbo.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 425px;
}

.page-content {
  flex: 1 0 auto;
  background-color: rgb(236, 233, 233);
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */
